$color-text: rgb(60, 60, 60);
$color-background: rgb(255, 255, 255);
$color-background-alt: rgb(200, 200, 200);
$color-address-book: rgb(48, 80, 129);
$color-address-book-alt: rgb(161, 144, 107);
$color-highlight: rgb(255, 200, 60);
$color-info: rgb(60, 130, 255);
$color-success: rgb(110, 150, 0);
$color-warning: rgb(100, 0, 250);
$color-danger: rgb(200, 100, 60);
$color-link: $color-info;
